body {
    padding-top: 5px;
    background-color: #e0e0e0;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

/**
availability page css
**/
.room-page-headers {
    padding-left: 45px;
    padding-bottom: 5px;
    width: 98%;
}

.container {
    background-color: #ffffff;
}

.page-highlights {
    padding: 20px;
    background-color: #B6202C;

}

.search-rooms {
    padding-top: 25px;
}

.currency-type {
    padding-left: 940px;
    padding-top: 10px;
}

.room-col {
    height: 200px;
}

.room-type-img {
    margin-top: 8px;
    margin-left: 0px;
}

.room-type-name {
    padding-top: 6px;
}

.room-type-footer {
    text-align: left;
    font-size: 12px;
}

.col-room-rate-footer{
    text-align: center;
}

.room-rates-unite-span{
    font-size: smaller;
    text-align: center;
}

.name-underline {
    margin-top: 5px;
    margin-bottom: 20px;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}

.rate-header {
    padding-top: 10px;
    padding-left: 90px;
    height: 50px;
}

.rates-font-style {
    font-size: x-large;
    font-weight: bolder;
}

.room-rates-unite {
    height: 100px;
    padding-top: 10px;
    padding-left: 80px;
}

.rate-footer {
    height: 50px;
    padding-left: 50px;
}

.room-rates-details {
    padding-top: 20px;
}

.page-footer {
    padding-top: 20px;
}

/**
viewBusket page css
**/
.bucket-table {
    background-color: #ffffff;
    border-radius: 5px;
}

.button-more-rooms {
    padding-bottom: 10px;
}

.booking-buton {
    padding-top: 20px;
}

/**
yourDetail page css
**/
.contact-details {
    background-color: #ffffff;
    padding-left: 30px;
    border-radius: 5px;
}

.page-subheaders-container {
    padding-left: 30px;
    padding-bottom: 10px;
}

.payment-info{
    display: block;
    width: 90%;
    padding-left: 30px;

}

.reservation-summery{
    padding-top: 70px;
}

.reserve-room-summery{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    padding-left: 30px;
}

.term-condition-row{
    margin-top: 10px;
    padding-top: 10px;
    padding-right: 46px;
    padding-bottom: 20px;
}

.term-condition{
    padding: 30px;
    /**height: 400px;**/
    background-color: #ffffff;
    border-radius: 5px;
}

.term-condition-agreement {
    padding: 30px;
    background-color: #ffffff;
    border-radius: 5px;
}

.card-info{
    height: 300px;
    background-color: #ffffff;
    border-radius: 5px;
    padding-top: 10px;
}

.card-info-image{
    height: 250px;
    background-color: #ffffff;
    border-radius: 5px;
    padding-top: 10px;
}

/**
review and pay page css
**/

.confirm-info{
    background-color: #ffffff;
    border-radius: 5px;
}

.name-underline {
    margin-top: 5px;
    margin-bottom: 10px;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}

.subheader-description{
    font-size: small;
}

.unite-subheaders {
    padding-left: 30px;
    padding-bottom: 10px;
    font-weight: bold;
}

.unite-subdescription {
    padding-left: 30px;
    padding-bottom: 10px;
    font-size: small;
}

.unite-container {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
}

.unite-headers-text {
    font-size: small;
    font-weight: bold;
}

.no-room-found{
    height: 300px;
}

.btn-radio {
    width: 100%;
}
.img-radio {
    opacity: 0.5;
    margin-bottom: 5px;
}

.space-20 {
    margin-top: 20px;
}

.table-font-size{
    font-size: small;
}

